<div class="makala">
<div class="malaka left-col">
	<h1><a href="{{ site.url }}"><img src="{{ site.url }}/assets/focs2018.gif" border="0" width="120" height="120"></a></h1> </div>


<div class="malaka center-col">
<font size="+2" color="#ffffff" face="Arial, Helvetica, sans-serif"><b>FOCS 2018 </b><br></font>
<font size="4" color="#ffffff" face="Arial, Helvetica, sans-serif"><b>59th Annual IEEE Symposium on <br>Foundations of Computer Science</b></font>
<font size="+3" color="#ffffff" face="Arial, Helvetica, sans-serif"><font size="4"><b><br>October 7-9, 2018,  Paris, France </b></font></font></div>
<div class="malaka right-col">
<!-- <img src="{{ site.url }}/assets/ieee_upper.gif" width="120" height="120"> -->
</div> 
</div>
