<tr>

<td bgcolor="#009966" width="154" >
<div class="left-col">
<h1><img src="{{ site.url }}/assets/focs2018.gif" border="0" width="120" height="139"></h1>
</div>
</td>


<td bordercolor="#009966" bgcolor="#009966" width="626">
<div class="center-col">
<font size="+2" color="#ffffff" face="Arial, Helvetica, sans-serif"><b>FOCS 2018</b><br></font>
<font size="4" color="#ffffff" face="Arial, Helvetica, sans-serif"><b>59th Annual IEEE Symposium on <br>Foundations of Computer Science</b></font>
<font size="+3" color="#ffffff" face="Arial, Helvetica, sans-serif"><font size="4"><b><br><br>October 7-9, 2018  Paris, France </b></font></font></div>
</td>

<td bordercolor="#009966" bgcolor="#009966" width="173">
<div class="right-col"><img src="{{ site.url }}/assets/ieee_upper.gif" width="120" height="139"> </div>
</td>

</tr>
