<ul id="menu-navigation" class="nav-menu">

Main
<div>
<table class="tg">
<ul>
	<li class="tg-yw4l"><a href="{{ site.url }}/">Home</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/registration/">Registration</a></li>
	<li class="tg-yw4l"><a href="{{site.url }}/program/program.html" target="_blank">Program</a></li>
	<li class="tg-yw4l"><a href="https://conferences.computer.org/focs/2019/#!/toc/0" target="_blank">Proceedings</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/accepted/">Accepted Papers</a></li>
	<!--<li class="tg-yw4l"><a href="http://hjemmesider.diku.dk/~mthorup/FOCS18/FOCS2018-Program.htm" target="_blank">Program</a> <font size="2" color="red">Final program</font></li>  -->
	<!-- <font size="2" color="red">Final program</font></li> -->
	<li class="tg-yw4l"><a href="{{ site.url }}/awards/">Award Winners</a></li>
	<li class="tg-yw4l"><a href="http://ieee-focs.org/">FOCS archive</a></li>
</ul>
</table>
</div>

Special Events
<div>
<table class="tg">
<ul>
	<li class="tg-yw4l"><a href="{{ site.url }}/workshops/">Workshops and Tutorials</a></li>
		<li class="tg-yw4l"><a href="https://sites.google.com/view/focs2019tributetoshafigoldwass/home">ShafiFest</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/celebration/">60th FOCS Celebration</a></li>
</ul>
</table>
</div>

Travel & Local Information
<div>
<table class="tg">
<ul>
	<li class="tg-yw4l"><a href="{{ site.url }}/hotel/">Hotel and Venue</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/transportation/">Transportation</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/local_information/">Local Information</a></li>
	<!-- <li class="tg-yw4l"><a href="{{ site.url }}/restaurants/">Restaurants</a></li> -->
	<!-- <li class="tg-yw4l"><a href="{{ site.url }}/beforeafter/">Before and After</a> </li> -->
	<!-- <li class="tg-yw4l"><a href="{{ site.url }}/travelsupport/">Travel Support</a> </li> -->
</ul>
</table>
</div>

Calls
<div>
<table class="tg">
<ul>
	<li class="tg-yw4l"><a href="{{ site.url }}/travel_grants/">Travel Awards</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/cfp/">Call For Papers</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/call_for_workshops/">Call for Workshops</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/posters/">Call for Job Market Posters</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/tota/">Test of Time Award</a></li>
</ul>
</table>
</div>

Inclusion and Conduct
<div>
<table class="tg">
<ul>
	<li class="tg-yw4l"><a href="{{ site.url }}/coc/"> FOCS Code of Conduct</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/ieee_statements">IEEE Inclusion and Conduct Statements</a></li>
	</ul>
</table>
</div>
