<ul id="menu-navigation" class="nav-menu">

Main
<div>
<table class="tg">
<ul>
<li class="tg-yw4l"><a href="{{ site.url }}">Home</a></li>
<li class="tg-yw4l"><a href="http://hjemmesider.diku.dk/~mthorup/FOCS18/FOCS18-cfp" target="_blank">Call For Papers</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/call_for_workshops/">Call for Workshops</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/registration/">Registration</a>   </li>
	<li class="tg-yw4l"><a href="{{ site.url }}/travelsupport/">Travel Support</a>   </li>
	<li class="tg-yw4l"><a href="{{ site.url }}/accepted/">Accepted Papers</a>  </li>
	  <li class="tg-yw4l"><a href="http://hjemmesider.diku.dk/~mthorup/FOCS18/FOCS2018-Program.htm" target="_blank">Program</a> <font size="2" color="red">Final program</font></li> 
	<!-- <li class="tg-yw4l"><a href="{{site.url }}/finalprogram.html" target="_blank">Program</a> <font size="2" color="red">Final program</font></li> -->	

	<li class="tg-yw4l"><a href="{{ site.url }}/workshops/">Workshops</a> <font size="2" color="red">Updated !</font> </li>
	<li class="tg-yw4l"><a href="{{ site.url }}/prizes/">Prizes</a>  <font size="2" color="red">New !</font></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/business/">Business meeting</a>  <font size="2" color="red">New !</font></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/colocated/">Co-located Events</a> </li>
	
</ul>
</table>
</div>

Travel & Local Information
<div>
<table class="tg">
<ul>
	<li class="tg-yw4l"><a href="{{ site.url }}/venue/">Venue</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/transportation/">Transportation</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/restaurants/">Restaurants</a></li>
	<li class="tg-yw4l"><a href="{{ site.url }}/hotels/">Hotels</a> </li>
	<li class="tg-yw4l"><a href="{{ site.url }}/beforeafter/">Before and After</a> </li>
	<!-- <li class="tg-yw4l"><a href="{{ site.url }}/travelsupport/">Travel Support</a> </li> -->
</ul>

</table>

<br>
<br>
<br>
	
<ul>
        <a href="https://tc.computer.org/tcmf/focs-code-conduct/" target="_blank"> Code of Conduct </a>
</ul>
	
	
</div>


</ul>
